<% include header %>
<form method="post">
  username:  <input type="text" name="name"/><br />
  passowrd:    <input type="password" name="password"/><br />
  confirm Password: <input type="password" name="passwordtwo"/><br />
  email:    <input type="email" name="email"/><br />
           <input type="submit" value="register"/>
</form>
<% include footer %>